@(form: Form[_], action: Call, title: String, submitName: String)(content: Html)

<form class="form-horizontal" method="POST" action="@action">
  <fieldset>
	
	<legend>@title</legend>
	
	@if(form.hasErrors && form.errors.get("form") !=null ) { 
		<div class="control-group error">
			<label  class="control-label"></label>
			<div class="controls">
			@for(error <- form.errors.get("form")) {
				<span>@error.message</span>
			}
   			</div>
		</div>	
	}
	
	
    
    @content
    
    
    <div class="control-group">
    	<div class="controls">
   			<button type="submit" class="btn-success">@submitName</button>
    	</div>
	</div>
    
    
  </fieldset>
</form>
		
