@(form: Form[_], action: Call, title: String, submitName: String)(content: Html)
<form class="form-inline pull-right" method="POST" action="@action">
	@content
  	<button type="submit" class="btn">@submitName</button>
</form>
