      <div>
        <h2>Классификатор работ<small></small></h2>


          @for(category <- controllers.Application.categories) {
	  @if(category.id == 1 || ((category.id - 1) % 4 == 0)) { 
            <div class="row-fluid">
            <ul class="thumbnails">
           }
            <li class="span3">
              <div class="thumbnail">
                <div class="caption">
                  <h4>@category.name</h4>
                  <p class="muted">Описание этой категории</p>
                  <p>
                    <ul>
                      @for(subcategory <- category.subcategories) {
                      <li><span class="text-info">@subcategory.name</span></li>
                      }
                    </ul>
                  </p>
                </div>
              </div>
            </li>
	  @if(category.id % 4 == 0){
            </ul>
	    <hr>
            </div>
          }
          }

      </div>
