      <div>
        <h2>Классификатор работ<small></small></h2>


          <div class="row-fluid">
            <ul class="thumbnails">
            @for(lists <- controllers.Application.categories(4)) {
              <li class="span3">
              @for(category <- lists) {
                <div class="thumbnail">
                  <div class="caption">
                    <h3>@category.name</h3>
                    <p class="muted">Описание этой категории</p>
                    <p>
                      <ul>
                        @for(subcategory <- category.subcategories) {
                        <li><span class="text-info">@subcategory.name</span></li>
                        }
                      </ul>
                    </p>
                  </div>
                </div>
              }
              </li>
            }
            </ul>
          </div>



      </div>

