    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Металлобработка</a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-left">
              <li class="active"><a href="/">Главная</a></li>
              <li><a href="tocustomers">Заказчикам</a></li>
              <li><a href="toperformers">Исполнителям</a></li>
              <li><a href="toengeneers">Инженерам</a></li>
              @if(Secured.isAuthorized(session)) {<li><a href="addmsg">Создать объявление</a></li>}
	      @if(Secured.isAdmin(session)) {<li><a href="admin">Админка</a></li>}
            </ul>
            <ul class="nav pull-right">
              @if(Secured.isAuthorized(session)) {
              <li><a href="profile"><i class="icon-user"></i>@Secured.getLogin(session)</a></li>
              <li><a href="logout"><i class="icon-off"></i>Выйти</a></li>
              } else {
              <li><a href="registration"><i class="icon-edit"></i>Регистрация</a></li>
              <li><a href="login"><i class="icon-play-circle"></i>Войти</a></li>  
              }
            </ul>
          </div>
        </div>
      </div>
    </div>


                
                
        
