@(users: List[User])
@base.page {


<table class="table table-striped">
  <caption>Пользователи</caption>
  <thead>
    <tr>
      <th>№</th>
      <th>Логин</th>
      <th>Почта</th>
      <th>Роль</th>
      <th>Объявления</th>
    </tr>
  </thead>
  <tbody>
   	@for(user <- users) {
      <tr>
        <td>@user.id</td>
        <td>@user.login</td>
        <td>@user.email</td>
        <td>@user.role</td>
        <td><a href="@routes.InnerApp.aprofile(user.login)">смотреть</a></id>
      </tr>
  	}
  </tbody>
</table>

}