@(user: User)
@base.page {

<span>Профиль пользователя: @user.login</span>
<table class="table table-striped">
  <caption>Объявления пользователя: @user.login</caption>
  <thead>
    <tr>
      <th>№</th>
      <th>Объявление</th>
    </tr>
  </thead>
  <tbody>
   	@for(msg <- user.messages) {
      <tr>
        <td>@msg.id</td>
        <td>@msg.message</td>
      </tr>
  	}
  </tbody>
</table>

}
