@base.page {

      <div class="hero-unit">
        <h2>Все о металлообработке</h2>
        <p>ресурс, на котором металлообрабатывающие компании могут размещать данные о своих услугах, инженеры , конструктора  и технологи - получать информационную поддержку.       
Механическая обработка  и в том числе металлообработка является очень важным и интересным направлением промышленности. И в современном мире грамотному инженеру или руководителю приходится учитывать не только технические, но и экономические аспекты деятельности. А именно быть грамотным руководителем и бизнесменом. 
Данный ресурс позволяет не только исполнителям находить заказчиков по металлообработке  и другим видам механической обработки, но и приобретать полезную в инженерном деле информацию. Портал ориентирован как на развитие бизнеса по металлообработке так и на инженерную деятельность.</p>
        <p><a class="btn btn-primary btn-large" href="registration">Быстрая регистрация &raquo;</a></p>
      </div>

      <div class="row">
        <div class="span4">
          <h3>Инженеру</h3>
          <p>Наш ресурс предоставляет модули в помощь инженеру. Это могут быть расчеты на просчность. Справочная информация. </p>
          <p><a class="btn" href="toengeneers">Подробнее &raquo;</a></p>
        </div>	
        <div class="span4">
          <h3>Заказчику</h3>
          <p>Необходимо выполнить обработку? Регистрируйтесь и оставляйте объявление. Как только найдется исполнитель, заинтересованный в выполнении вашего заказа, мы сразу же дадим вам знать.</p>
          <p><a class="btn" href="tocustomers">Подробнее &raquo;</a></p>
       </div>
        <div class="span4">
          <h3>Исполнителю</h3>
          <p>Мы поможем быстро находить заказы для вашего предприятия. Вам достаточно зарегистрироваться и указать тип обработки. После регистрации вы сможете просматривать заказы от пользователей и выбирать соответсвующие вашему типу производства</p>
          <p><a class="btn" href="toperformers">Подробнее &raquo;</a></p>
        </div>
      </div>
      <hr class="soften">

      @base.classificator()

}

