@(msgs: List[Message])
@base.page {


<table class="table table-striped">
  <caption>Ваши объявления</caption>
  <thead>
    <tr>
      <th>№</th>
      <th>Объявление</th>
    </tr>
  </thead>
  <tbody>
   	@for(msg <- msgs) {
      <tr>
        <td>@msg.id</td>
        <td>@msg.message</td>
      </tr>
  	}
  </tbody>
</table>

}
