      body {
                               padding-top: 100px;
                               padding-bottom: 40px;
                               /* background-color: #222000;*/
                               background-color: white;
                              /* background-image: url(../images/background14.jpg);*/
      }
      .sidebar-nav {
        padding: 9px 0;
      }


                        .nav-home-logged-out {
                                float: left;
                                width: 145px;
                                height: 32px;
                                /*background-image: url(../images/logo.png);*/
                                background-position: 0 0;
                                margin: 5px 6px 0 0;
                        }
                        .navbar .nav > li > a {
                                text-shadow: black -1px -1px 0px;
                        }

                        .shining {
                                /*background-image: url(../images/background3.jpg);*/
                                -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 0 125px rgba(255,190,43,.35);
                                box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 0 125px rgba(255,190,43,.35);
                                -webkit-border-radius: 4px;
                                border-radius: 4px;
                        }

                        .hero-unit {
                                background-color: #ffffff;;
                                -webkit-border-radius: 16px;
                                -moz-border-radius: 16px;
                                border-radius: 16px;
                        }

                        .nav-home-logged-out {
                                float: left;
                                width: 125px;
                                height: 32px;
                                background-image: url(../images/logo.png);
                                background-position: 0 0;
                                margin: 5px 6px 0 0;
                        }
                        .navbar .nav > li > a {
                                text-shadow: black -1px -1px 0px;
                        }
                        .navbar-inner {
                                background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#333));
                                background: -moz-linear-gradient(top, #555, #333);
                                background: gradient(linear, left top, left bottom, from(#555), to(#333));
                                -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
                                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
                        }
                        .nav > li > a {
                           font-size: 16px;
                        }
.min-params {
 min-height: 400px; 
}

.spanm4 {
  width: 260px;
}

.sound-card {
	width: 220px;
	height: 146px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
border-radius: 5px;

}

.main-card {
	width: 440px;
	height: 250px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
border-radius: 5px;

}

.transparent {
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE 5.5+*/
-moz-opacity: 0.5; /* Mozilla 1.6 и ниже */
-khtml-opacity: 0.5; /* Konqueror 3.1, Safari 1.1 */
opacity: 0.5;
}

.playerpreview {

}

.hero-unit {
  background-color: #f5f5f5;
  margin-bottom: 0px;
}

.middle-container {
  padding: 60px;
  margin-bottom: 30px;
}

.units-container {
/*  padding: 10px;*/
  background-color: #ffffff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}


.main-params {
 /*background-color: #EEFFFF;*/
}
